h1 {
	text-align: center;
}

.buttonContainer {
	text-align: center;
}

.mainContainer {
	margin: 20px auto;
	margin-left: 25%;
	margin-right: 25%;
}

.inputFields {
	text-align: center;
	padding: 10px;
}

button {
	background: rgba(0, 0, 0, 0.77);
	color: white;
	border: 0;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.author {
	text-align: right;
}